@import url(http://fonts.googleapis.com/css?family=Press+Start+2P|Special+Elite);
        /*
        	font-family: 'Special Elite', cursive;
        	font-family: 'Press Start 2P', cursive;
         */

.wrapper {
    background-image: url(images/space.jpg);
    background-repeat: 100%;
    text-align: center;
    display: block;
}

#logo {
	height: 175px;
	width: 225px;
	margin: 3px;
}

#memoryBoard{
	width: auto;
	height: auto;
	padding-top: 30px;
	padding-bottom: 30px;
	padding-left: 85px;
	padding-right: 90px;
	margin: 0px auto;
}

div#memoryBoard > div {
	background: url("images/stormTrooper130-165.png");
	border-style: solid gray;
	width: 135px;
	height: 170px;
	float: left;
	margin: 15px;
	padding: 5px;
	cursor:pointer;
	font-family: 'Special Elite', cursive;
	font-weight: bold;
	font-size: 18px;
	color: #f9c83b;
	text-align: center;
	border-radius: 5%;
/*	-webkit-transform: perspective( 600px ) rotateY( 180deg );
    transform: perspective( 600px ) rotateY( 180deg );
    transition: -webkit-transform .5s linear 0s;
    transition: transform .5s linear 0s;
    transform: translateZ(-100px);*/
}

/*div#memoryBoard > div:hover {
	animation: zipper 5s;
    -webkit-animation: zipper 5s;
    transform: translateZ(-100px);
}*/


#logo {
	height: 200px;
	width: 250px;
	margin-top: 5px;
}

.rotate {
    font-family: 'Special Elite', cursive;
    font-size: 18px;
    color: #f9c83b;
	text-align: center;
	padding: none;
	margin-top: -15px;
}

#falcon {
	width: 237px;
	height: 146px;
	border-radius: 20%;
	margin-top: -30px;
}

.scoreboard {
	color: #f9c83b;
	text-align: center;
	font-family: 'Special Elite', cursive;
	font-size: 18px;
	margin-top: 40px;
	margin-bottom: 3px;
}

#score {
	color: #f9c83b;
	text-align: center;
	font-family: 'Special Elite', cursive;
	font-size: 18px;
	margin-top: 40px;
	margin-bottom: 3px;
}

.clock {
	color: #f9c83b;
	text-align: center;
	font-family: 'Special Elite', cursive;
	font-size: 18px;
	margin-top: 40px;
	margin-bottom: 3px;
}

/* value pertains to the clock counter function */
#value {
	color: #f9c83b;
	text-align: center;
	font-family: 'Special Elite', cursive;
	font-size: 18px;
	margin-top: 20px;
	margin-bottom: 3px;
}

.team {
	color: #f9c83b;
	text-align: center;
	font-size: 20px;
	font-family: 'Press Start 2P', cursive;
	margin-top: 50px;
}

#button1 {
    padding: none;
    border-radius: 50%;
    margin-top: -30px;
}

.icon {
	padding: none;
    border-radius: 50%;
}

.buttonText1 {
	margin-top: 8px;
	margin-bottom: -5px;
	color: #f9c83b;
	text-align: center;
	font-family: 'Special Elite', cursive;
	font-size: 18px;
}

footer {
	font-family: 'Special Elite', cursive;
	color: #f9c83b;
	text-align: center;
	font-size: 14px;
	margin-top: 50px;
	margin-bottom: 20px;
}

/*CSS code for 3D Animation Card Flip
.flip3D{ width:240px; height:200px; margin:10px; float:left; }
.flip3D > .front{
    position:absolute;
    -webkit-transform: perspective( 600px ) rotateY( 0deg );
    transform: perspective( 600px ) rotateY( 0deg );
    background:#FC0; width:240px; height:200px; border-radius: 7px;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    transition: -webkit-transform .5s linear 0s;
    transition: transform .5s linear 0s;
}
.flip3D > .back{
    position:absolute;
    -webkit-transform: perspective( 600px ) rotateY( 180deg );
    transform: perspective( 600px ) rotateY( 180deg );
    background: #80BFFF ; width:240px; height:200px; border-radius: 7px;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    transition: -webkit-transform .5s linear 0s;
    transition: transform .5s linear 0s;
}
.flip3D:click > .front{
    -webkit-transform: perspective( 600px ) rotateY( -180deg );
    transform: perspective( 600px ) rotateY( -180deg );
}
.flip3D:click > .back{
    -webkit-transform: perspective( 600px ) rotateY( 0deg );
    transform: perspective( 600px ) rotateY( 0deg );
*/

@media screen and (max-width: 599px) {}

@media screen and (min-width: 980px) {}

