@import url(http://fonts.googleapis.com/css?family=Press+Start+2P|Special+Elite);
        /*
        	font-family: 'Special Elite', cursive;
        	font-family: 'Press Start 2P', cursive;
         */


.wrapper {
    background-image: url(images/space.jpg);
    background-repeat: 100%;
    text-align: center;
    display: block;
}

#logo {
	height: 175px;
	width: 225px;
	padding: 5px;
	margin: 3px;
}

.rotate {
    font-family: 'Special Elite', cursive;
    font-size: 16px;
    color: #f9c83b;
    margin-top: 30px;
	margin-bottom: 10px;
	text-align: center;
	padding: 5px;
	margin: 3px;
}

#falcon {
	width: 237px;
	height: 146px;
	border-radius: 20%;
}

.scoreboard {
	color: #f9c83b;
	text-align: center;
	font-family: 'Special Elite', cursive;
	font-size: 18px;
	margin-top: 20px;
	margin-bottom: 10px;
}

.timer {
	color: #f9c83b;
	text-align: center;
	font-family: 'Special Elite', cursive;
	font-size: 18px;
	margin-top: 20px;
	margin-bottom: 10px;
}

.team {
	color: #f9c83b;
	text-align: center;
	font-size: 20px;
	font-family: 'Press Start 2P', cursive;
	margin-top: 50px;
}

.icon {
	height: 185px;
	width: 155px;
	padding: 5px;
	margin: 3px;
	border-style: solid gray;
	display: inline-block;
}



footer {
	font-family: 'Special Elite', cursive;
	color: #f9c83b;
	text-align: center;
	font-size: 14px;
	margin-top: 50px;
	margin-bottom: 20px;
}


@media screen and (max-width: 599px) {}

@media screen and (min-width: 980px) {}



